html,
body {
  background-color: #e9ebee;
  color: #1d2129;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: underline;
}
a.whitelink {
  color: #ffffff;
}
.clickable {
  cursor: pointer;
}
.spacebelow {
  margin-bottom: 15px;
}
.spaceabove {
  margin-top: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.hidden {
  display: none;
}
